AWS_PROFILE=default
AWS_REGION=us-west-2
ARC_ENDPOINT=https://arc.gorillapool.io
ARC_API_KEY=replace-me
JUNGLEBUS_SUBSCRIPTION_ID=replace-me
GENESIS_PUBLIC_KEY=replace-me
GUARDIAN_PUBLIC_KEYS=02guardianA,02guardianB,02guardianC
